@page "/centrocostos/editar"

<style>
    body {
        background-color: #bacde6;
    }
</style>

<h1 class="mb-4 mt-4 text-4xl font-extrabold leading-none tracking-tight dark:text-black">EDITAR</h1>

@code {

}
