@page "/dashboard"
@using BlazorAppTTHH.Models;
@inject IJSRuntime JSRuntime

<style>
    .navbar {
        background-color: #007bff; /* Color de fondo azul */
        color: white; /* Texto en blanco */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centrar el texto */
    }

    .footer {
        background-color: #343a40; /* Color de fondo gris oscuro */
        color: white; /* Texto en blanco */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centrar el texto */
        position: fixed; /* Fijar al fondo de la página */
        bottom: 0;
        width: 100%;
    }
</style>

<h1>Dashboard</h1>

<!-- Navbar con el nombre del emisor -->
<nav class="navbar">
    @nombreEmisor
</nav>

<!-- Contenido del dashboard -->

<!-- Footer con el perfil del usuario -->
<footer class="footer">
    @perfilUsuario
</footer>

@code {
    private string nombreEmisor;
    private string perfilUsuario;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserData();
    }

    private async Task LoadUserData()
    {
        var userData = await JSRuntime.InvokeAsync<UsuarioResponse>("getUserData");
        if (userData != null)
        {
            nombreEmisor = userData.NombreEmisor;
            perfilUsuario = userData.Perfil;
        }
    }
}
