@page "/home"
@layout MainLayout
@using BlazorAppTTHH.Models;
@inject IJSRuntime JSRuntime

<style>
    body{
        background-color: #bacde6;
    }
</style>

<h1 class="mt-4 text-4xl font-extrabold leading-none tracking-tight dark:text-black">HOME</h1>

<br />

<h3 style="display:inline" class="text-xl font-extrabold">Nombre:</h3>  @nombreUsuario
<br />
<br />
<h3 style="display:inline" class="text-xl font-extrabold">RUC: </h3>  @rucUsuario


@code {
    private string nombreUsuario;
    private string rucUsuario;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserData();
            StateHasChanged(); // Forzar la actualización del estado del componente
        }
    }

    private async Task LoadUserData()
    {
        var userData = await JSRuntime.InvokeAsync<UsuarioResponse>("getUserData");
        if (userData != null)
        {
            nombreUsuario = userData.NombreUsuario;
            rucUsuario = userData.RucUsuario;
        }
        else
        {
            Console.WriteLine("No se cargaron datos de usuario."); // Manejar el caso de datos no cargados
        }
    }
}
